<% if(@item.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div style="width: 450px;">
  <%= form_with(model: [:admin, @item], local: true) do |f| %>
    <div style="margin-bottom: 10px;">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: t("activerecord.attributes.item.name"), class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: t("activerecord.attributes.item.description"), class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :weight %>
      <%= f.number_field :weight, step: 1, min: 1, placeholder: t("activerecord.attributes.item.weight") + ' (g)', class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :width %>
      <%= f.number_field :width, step: 1, min: 1, placeholder: t("activerecord.attributes.item.width") + ' (cm)', class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :height %>
      <%= f.number_field :height, step: 1, min: 1, placeholder: t("activerecord.attributes.item.height") + ' (cm)', class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :depth %>
      <%= f.number_field :depth, step: 1, min: 1, placeholder: t("activerecord.attributes.item.depth") + ' (cm)', class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :category %>
      <%= f.text_field :category, placeholder: t("activerecord.attributes.item.category"), class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :image %> (opcional)
      <%= f.file_field :image, class: "form-control" %>
    </div>

    
    <div>
      <%= f.submit 'Enviar', class: 'btn btn-secondary' %>
    </div>

  <% end %>
</div>
<br><br>