<% if(@item.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [:admin, @item], local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>



  <div>
    <%= f.label :image %> (opcional)
    <%= f.file_field :image %>
  </div>



  <div>
    <%= f.label :weight %> (g)
    <%= f.number_field :weight, step: 1, min: 1 %>
  </div>

  <div>
    <%= f.label :width %> (cm)
    <%= f.number_field :width, step: 1, min: 1 %>
  </div>

  <div>
    <%= f.label :height %> (cm)
    <%= f.number_field :height, step: 1, min: 1 %>
  </div>

  <div>
    <%= f.label :depth %> (cm)
    <%= f.number_field :depth, step: 1, min: 1 %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>



  <div>
    <%= f.submit 'Enviar' %>
  </div>

<% end %>