<% if(@lot.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @lot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% is_edit_page = @lot.persisted? && current_page?(edit_admin_lot_path(@lot)) %>
<div style="width: 450px;">
  <%= form_with(model: [:admin, @lot], local: true) do |f| %>
    <div style="margin-bottom: 10px;">
      <%= f.label :code if is_edit_page %>
      <%= f.text_field :code, placeholder: t("activerecord.attributes.lot.code"), class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :minimum_bid if is_edit_page %>
      <%= f.number_field :minimum_bid, step: 0.01, min: 0.01, placeholder: t("activerecord.attributes.lot.minimum_bid"), class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :minimum_bid_increment if is_edit_page %>
      <%= f.number_field :minimum_bid_increment, step: 0.01, min: 0.01, placeholder: t("activerecord.attributes.lot.minimum_bid_increment"), class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :start_date %>
      <%= f.datetime_local_field :start_date, class: "form-control" %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= f.label :end_date %>
      <%= f.datetime_local_field :end_date, class: "form-control" %>
    </div>



    <div style="margin-bottom: 10px;">
      <%= f.submit 'Enviar', class: 'btn btn-secondary' %>
    </div>

  <% end %>
</div>