<h1>Sistema de Leilões</h1>

<%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.label :search, "Buscar:" %>
  <%= form.text_field :search, value: params[:search] %>
  <%= form.submit "Buscar" %>
<% end %>

(Pesquise por: Nome do item ou código do lote)

<h2>Leilões em andamento</h2>

<div>
  <% if @open_auctions_lots.empty? %>
    <p>Não existem lotes em andamento.</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Data de Início</th>
          <th>Valor Atual</th>
        </tr>
      </thead>
      <tbody>
        <% @open_auctions_lots.each do |lot| %>
        <tr>
          <td><%= link_to lot.code, lot %></td>
          <td><%= l lot.start_date, format: :long %></td>
          <td><%= lot.bids.count > 0 ? number_to_currency(lot.bids.maximum(:amount)) : number_to_currency(lot.minimum_bid) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<h2>Leilões Futuros</h2>

<div>
  <% if @future_auctions_lots.empty? %>
    <p>Não existem lotes futuros.</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Data de Início</th>
          <th>Lance Mínimo</th>
        </tr>
      </thead>
      <tbody>
        <% @future_auctions_lots.each do |lot| %>
        <tr>
          <td><%= link_to lot.code, lot %></td>
          <td><%= l lot.start_date, format: :long %></td>
          <td><%= number_to_currency(lot.minimum_bid) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>