<h2>Detalhes do Item</h2>


<div style="display: flex;">
  <div>
    <%= image_tag( @item.image.present? ? @item.image : "imagem_padrao.jpg", class: "item-show-image") %>
  </div>
  <div style="margin-left: 20px;">
    <div>Nome: <%= @item.name %></div>
    <div>Descrição: <%= @item.description %></div>
    <div>Peso: <%= @item.weight %></div>
    <div>Largura: <%= @item.width %></div>
    <div>Altura: <%= @item.height %></div>
    <div>Profundidade: <%= @item.depth %></div>
    <div>Categoria: <%= @item.category %></div>
    <div>Código: <%= @item.code %></div>
    <div>Lote: <%= @item.lot ? link_to(@item.lot.code, @item.lot) : 'Sem lote associado' %> </div>
  </div>
  <%#= link_to(@item.lot.code, @item.lot) %>
</div>

<%#= link_to('Todos os itens', items_path) %>

<% if user_signed_in? && current_user.admin? && (@item.lot_id.nil? || @item.lot.pending_approval?) %>
  <%= link_to('Editar', edit_admin_item_path(@item), class: 'btn btn-outline-secondary', style:"margin-top: 10px;") %> <br>
  <%= button_to('Remover', admin_item_path(@item), method: :delete, class: 'btn btn-outline-danger', style:"margin-top: 10px;") %>  
<% end %>
<br><br>