<h2>Detalhes do Item</h2>


Imagem: <%= image_tag @item.image %>
Nome: <%= @item.name %>
Descrição: <%= @item.description %>
Peso: <%= @item.weight %>
Largura: <%= @item.width %>
Altura: <%= @item.height %>
Profundidade: <%= @item.depth %>
Categoria: <%= @item.category %>
Código: <%= @item.code %>

