<h2>Detalhes do Item</h2>


<div style="display: flex;">
  <div>
    <%= image_tag @item.image, class: "item-image" %>
  </div>
  <div style="margin-left: 20px;">
    <div>Nome: <%= @item.name %></div>
    <div>Descrição: <%= @item.description %></div>
    <div>Peso: <%= @item.weight %></div>
    <div>Largura: <%= @item.width %></div>
    <div>Altura: <%= @item.height %></div>
    <div>Profundidade: <%= @item.depth %></div>
    <div>Categoria: <%= @item.category %></div>
    <div>Código: <%= @item.code %></div>
  </div>
</div>

<%= link_to('Voltar', items_path) %> <br>

<% if current_user.admin? %>
  <%= link_to('Editar', edit_admin_item_path(@item)) %> <br>
  <%= button_to('Remover', @item, method: :delete) %>  
<% end %>
