<nav>
  <ul>
    <li>
      <% if user_signed_in? %>
        Olá <%= user_status %>! <%= current_user.nickname %> (<%= current_user.email %>) 
        <span style="display: inline-block;">
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        </span>
      <% else %>
        Olá <%= user_status %>! <%= link_to 'Entrar', new_user_session_path %>
      <% end %> <br>
    </li>

    <li>
      <%= link_to 'HOME', root_path %>
      <% if user_signed_in? %> | 
        <%= link_to 'DASHBOARD (Admin)', admin_dashboard_path if current_user.admin? %>
        <%= link_to 'DASHBOARD', dashboards_path if !current_user.admin? %>
      <% end %>
    </li>
    <li>
      <%= link_to 'ITENS EM LEILÃO', items_path %>
    </li>
    <li>
      <%= link_to 'LOTES', root_path %>
    </li>
  </ul>
  <% if user_signed_in? && current_user.admin? %>
    <%= render 'layouts/nav_bar_admin' %>
  <% end %>
</nav>
