<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <nav>
        <p>Olá <%= user_status %>!</p>
        <ul>
          <li>
            <% if user_signed_in? %>
              <%= current_user.nickname %> (<%= current_user.email %>) <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Entrar', new_user_session_path %>
            <% end %>
          </li>
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'Index Itens', items_path %>
          </li>
          <li>
            <%= link_to 'Cadastrar Itens', new_item_path %>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div>
        <p class="alert"><%= alert %>
        <p class="notice"><%= notice %>
      </div>
      <%= yield %>
    </main>
    
  </body>
</html>
